---
import {Image} from "astro:assets";

const category = Astro.props.category;
---


<section class="category">
    <figure>
        <a href={`/work/${category.slug}`} class="card">
            <Image
                    src={category.image}
                    alt="Residential architecture category"
            />
        </a>
        <figcaption>

            <h2>
                <a href={`/work/${category.slug}`} class="card">
                  {category.label}
                </a>
            </h2>
            <p>{category.description}</p>
        </figcaption>
    </figure>
</section>

<style scoped>
    .category{

    }
    .category a{
        text-decoration: none;
    }
    .category a img{
        height: 400px;
        width: auto;
        object-fit: contain;
        display: block;
        margin: auto;
    }
    .category a, .category a:hover, .category a:active{
        color: black;
    }
</style>
